version: '3.8'
services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: quiz_user
      POSTGRES_PASSWORD: "Str0ngP@ssw0rd!2025"
      POSTGRES_DB: quizdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"

volumes:
  pgdata:
    name: quizapp_pgdata
